:root{
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary: #03b898;
    --grey-1: #F8F9FA;
    --grey-2: #e9ecef;
    --grey-3: #868E96;
    --grey-4: #212529;
    --font-primary: 'Nunito', sans-serif;
    
}