.title{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 38px;
}
.title-2{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 22px;
    line-height: 6rem;
}
.title-3{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 16px;
    
    
}
.title-4{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 12px;
}
.title-5{
font-family: var(--font-primary);
font-weight: bold;
font-size: 16px;
}
.headline{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
}